*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


table{
  margin-left:50px;
  width: 90%;
}

table, th, td {
  padding: 10px;
  border: none;
  border-collapse: collapse;
}

tr:nth-child(odd){
  background-color: #dddddd;
}
#update{
  margin-right:100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: lightblue;
  border-radius: 5px;
  float: right;
  font-size: 16px;
}

#update:hover{
  box-shadow: 5px 5px 5px;
}
#update,a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(10, 10, 10);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(7, 7, 7);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

